In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import plotly.graph_objects as go
import plotly.express as px
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import ConfusionMatrixDisplay

loading the dataset using pandas library

In [2]:
df=pd.read_csv(r"C:\Users\Allan\OneDrive\Desktop\House Price Prediction Dataset.csv")

Exploratory Data Analysis

In [3]:
#checking the columns and rows of our dataset
df.shape

(2000, 10)

In [4]:
#checking the first 5 rows of our dataset to understand how it looks like.
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

Great! There is a mix of categorical and numerical values in this dataset. Note that we can not pass categorical variables directly to our machine learning model. We will have to encode them before model training. Let us go ahead and check the data types of our attributes.

In [5]:
df.dtypes

Id            int64
Area          int64
Bedrooms      int64
Bathrooms     int64
Floors        int64
YearBuilt     int64
Location     object
Condition    object
Garage       object
Price         int64
dtype: object



3 of the attributes have a data type of object which signifies that they are categorical in nature while the rest of them are either float or int which can be directly passed during the model training.

In [6]:
df.isna().sum()

Id           0
Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

It seems we do not have null values in our dataset

In [7]:
df= df.select_dtypes(include=['object'])
df.columns

Index(['Location', 'Condition', 'Garage'], dtype='object')

In [8]:
for cols in df.columns:
    print(cols,'-', len(df[cols].unique()),'Labels')

Location - 4 Labels
Condition - 4 Labels
Garage - 2 Labels

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Location   2000 non-null   object
 1   Condition  2000 non-null   object
 2   Garage     2000 non-null   object
dtypes: object(3)
memory usage: 47.0+ KB

In [10]:
df.duplicated().sum()

np.int64(1968)

In [11]:
df=df.drop_duplicates()
df

     Location  Condition Garage
0    Downtown  Excellent     No
2    Downtown       Good     No
3    Suburban       Fair    Yes
4    Downtown       Fair    Yes
5       Urban       Poor     No
6       Rural       Poor    Yes
7    Suburban       Good    Yes
9    Downtown       Poor     No
10   Suburban       Poor    Yes
11      Urban  Excellent    Yes
13      Rural       Good     No
14      Urban       Fair    Yes
17   Downtown       Poor    Yes
18   Suburban       Good     No
25      Urban       Good    Yes
27   Downtown  Excellent    Yes
30   Suburban       Poor     No
31   Suburban  Excellent    Yes
32      Rural       Poor     No
42   Suburban  Excellent     No
43      Urban  Excellent     No
51      Urban       Poor    Yes
52      Rural  Excellent     No
53   Suburban       Fair     No
62      Rural       Good    Yes
63      Rural       Fair    Yes
66      Rural  Excellent    Yes
70   Downtown       Good    Yes
78      Urban       Fair     No
84      Urban       Good     No
115  Downtown       Fair     No
182     Rural       Fair     No

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.describe()

        Location  Condition Garage
count         32         32     32
unique         4          4      2
top     Downtown  Excellent     No
freq           8          8     16